[submodule "explorations"]
	path = explorations
	url = https://github.com/binate/explorations.git
[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/binate/bootstrap.git
[submodule "binate"]
	path = binate
	url = https://github.com/binate/binate.git
[submodule "website"]
	path = website
	url = https://github.com/binate/website.git
[submodule "docs"]
	path = docs
	url = https://github.com/binate/docs.git
[submodule "examples"]
	path = examples
	url = https://github.com/binate/examples.git
